.records-table-banner{
  .title{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
  }

  .customers{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;

    .table-title{
      font-weight: 600;
      font-size: 20px;
    }

    .table-row{
      border-bottom: 1px solid;
      td{
        padding: 5px 10px;
      }
    }
  }
}